<h1>Profile edit</h1>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

    <p class="buffer-top">
      <%= link_to 'Password change', edit_user_registration_path %>
    </p>
  </div>
</div>
