<div class="p-3 pb-md-4 mx-auto text-center">


<h1 class="display-4 fw-normal">События</h1>
<p class="fs-5 text-muted">
Добро пожаловать в небольшую социальную сеть для организации мероприятий.
  <p class="fs-6 text-muted">
    Создано с целью обучения в рамках интенсива RailsGarnet2021.
  </p>
</p>
<div class="buffer-both">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-lg btn-outline-success' %>
</div>
</div>

<div class="row buffer-bottom">
  <%= render partial: 'events/event', collection: @events %>
</div>
